.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.main-flex {
  background-image: url('https://img3.goodfon.com/original/1440x900/6/be/canada-antique-map-paper.jpg');
  background-repeat: no-repeat;

  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 18em;
  margin: 11px;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.5em;
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: bold;
}

.flex-container > div:hover {
  color: #f1f1f1;
  background-color: chocolate;
  opacity: 1;
  cursor: pointer;
}

.province-details {
  margin-right: 15%;
  width: 100%;
  margin: 11px;
  padding: 5%;
  background-color: #f1f1f1;
  text-align: left;
  opacity: 0.5;
  font-size: 2em;
}
